:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--color-bg);
  --border-radius: 4px;
  --color-bg: #ffffff;
  --color-text: #1B1B23;
  --color-border: #C7C5D0;
  --color-hover-option: #1B1B23;
  --color-axis: #918F9A;
  --color-axis-lines: #E1DFE7;
  --color-1: #46464F;
  --color-2: #4142EF;
  --color-3: #FF8346;
  --color-4: #35BDAD;
}

:root[data-theme="dark"] {
  --color-bg: #000027;
  --color-text: #ffffff;
  --color-border: #C7C5D0;
  --color-hover-option: #1B1B23;
  --color-axis: #918F9A;
  --color-axis-lines: #414163;
  --color-1: #C7C5D0;
  --color-2: #A1A3FF;
  --color-3: #FF8346;
  --color-4: #35BDAD;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--color-text);
  background-color: var(--color-bg);;
  cursor: pointer;
  transition: border-color 0.25s;
}
