.selectWrapper {
    position: relative;
    width: 161px;
}

.selectControl {
    padding: 6.5px 8px;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectDropdown {
    position: absolute;
    width: 100%;
    top: calc(100% + 4px);
    left: 0;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    max-height: 180px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    padding: 0;
    margin: 0;
}

.selectOption {
    list-style: none;
    padding: 10px 12px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.selectOption:hover {
    color: var(--color-hover-option);
    background: #f0f0f0;
}

.arrow {
    font-size: 12px;
}
